<% if (userCreatedEvents.length > 0) { %>
    <div class="mb-8">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <% userCreatedEvents.forEach(event => { %>
                <div class="bg-white p-6 rounded-md shadow-md relative">
                    <button type="submit" form="deleteEvent<%= event.id %>" class="absolute top-1 right-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48" id="delete">
                            <path d="M12 38c0 2.21 1.79 4 4 4h16c2.21 0 4-1.79 4-4V14H12v24zM38 8h-7l-2-2H19l-2 2h-7v4h28V8z"></path>
                            <path fill="none" d="M0 0h48v48H0z"></path>
                        </svg>
                    </button>
                    <form id="deleteEvent<%= event.id %>" method="post" action="/removeEvent/<%= event.id %>" class="hidden">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    </form>
                    <h3 class="text-xl font-semibold mb-4"><%= event.id %></h3>
                    <h3 class="text-xl font-semibold mb-4"><%= event.eventName %></h3>
                    <p class="text-gray-700 mb-4">Created by: <%= event.email %></p>
                    <h4 class="text-md font-semibold mb-2">Enrolled Users:</h4>
                    <ul class="list-disc pl-5 mb-4">
                        <% event.users.forEach(user => { %>
                            <li class="mb-2 flex justify-between group relative">
                                <div>
                                    <p><span class="font-semibold">ID:</span> <%= user.id %></p>
                                    <p><span class="font-semibold">Name:</span> <%= user.name %></p>
                                    <p><span class="font-semibold">Email:</span> <%= user.email %></p>
                                </div>
                                <button type="submit" form="deleteUser<%= user.id %>" class="absolute top-1 right-1 text-red-500 hover:text-red-700 opacity-0 group-hover:opacity-100 transition-opacity duration-200">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 18" id="delete"><g fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><g stroke="#000" stroke-width="2" transform="translate(-1441 -1567)"><g transform="translate(1442 1568)"><path d="M20 0H7L0 8l7 8h13a2 2 0 002-2V2a2 2 0 00-2-2zM17 5l-6 6M11 5l6 6"></path></g></g></g></svg>
                                </button>
                                <form id="deleteUser<%= user.id %>" method="post" action="/removeUser/<%= user.id %>" class="hidden">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                </form>
                            </li>
                        <% }); %>
                    </ul>
                    <% event.teams.forEach(team => { %>
                        <div class="border border-gray-300 rounded-md p-4 mb-4 relative group">
                            <h4 class="text-lg font-semibold mb-2">Team: <%= team.name %></h4>
                            <h4 class="text-lg font-semibold mb-2">ID: <%= team.id %></h4>
                            <ul class="list-disc pl-5">
                                <% team.memberEmails.forEach(memberEmail => { %>
                                    <li class="mb-2">
                                        <p><span class="font-semibold">Email:</span> <%= memberEmail %></p>
                                        <!-- You can add more information about team members if needed -->
                                    </li>
                                <% }); %>
                                <button type="submit" form="deleteTeam<%= team.id %>" class="absolute top-1 right-1 text-red-500 hover:text-red-700 opacity-0 group-hover:opacity-100 transition-opacity duration-200">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 18" id="delete"><g fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><g stroke="#000" stroke-width="2" transform="translate(-1441 -1567)"><g transform="translate(1442 1568)"><path d="M20 0H7L0 8l7 8h13a2 2 0 002-2V2a2 2 0 00-2-2zM17 5l-6 6M11 5l6 6"></path></g></g></g></svg>
                                </button>
                                <form id="deleteTeam<%= team.id %>" method="post" action="/removeTeam/<%= team.id %>" class="hidden">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                </form>
                            </ul>
                        </div>
                    <% }); %>
                </div>
            <% }); %>
        </div>
    </div>
<% } else { %>
    <p class="text-gray-500">You haven't created any events yet.</p>
<% } %>
