<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-TkkwI1UMlATV2XzrN9oAlmTdrj3UPo+Y0CUXjzHjOHzlStgnlB2Z0fRrKvNFf4Dks3J3Mz8PckzsgPDS6pnfZQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    .profile-btn {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .profile-btn:hover {
      background-color: #45a049;
    }

    .signout-btn {
      background-color: #f44336;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .signout-btn:hover {
      background-color: #d32f2f;
    }

    .create-event-btn {
      background-color: #1E40AF;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .create-event-btn:hover {
      background-color: #1E3799;
    }
  </style>
</head>

<body class="bg-gray-100 p-8">
  <div class="flex justify-between items-center mb-8">
    <h1 class="text-2xl font-semibold">Welcome,<%= user.firstName %> </h1>
    <div>
      <% if (user && user.isAdmin) { %>
        <!-- Only render the button if the user is an admin -->
        <button class="create-event-btn mr-4" onclick="window.location.href='/events'">
          <i class="fas fa-plus-circle mr-2"></i> Create Event
        </button>
      <% } %>
      <button class="profile-btn mr-4" onclick="window.location.href='/profile'">
        <i class="fas fa-user mr-2"></i> Profile
      </button>
      <form action="/logout" method="post" class="inline-block">
        <button type="submit" class="signout-btn">
          <i class="fas fa-sign-out-alt mr-2"></i> Sign Out
        </button>
      </form>
    </div>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <% if (eventsData.length > 0) { %>
      <% eventsData.forEach(event => { %>
        <!-- Modify the event block to include the time left -->
        <div class="bg-gray-200 p-8 rounded shadow-md flex flex-col justify-between h-full">
          <div>
            <h2 class="text-xl font-bold mb-2"><%= event.eventName %></h2>
            <p class="text-gray-600 mb-2">Max Team Size: <%= event.maxSize %></p>
            <p class="text-gray-600 mb-2">Description: <%= event.description %></p>
            <!-- Add a span to display the time left -->
            <p class="text-gray-600 mb-2">Time Left: <span id="time-left-<%= event.id %>"></span></p>
          </div>
          <div class="<%= event.id %>">
            <a href="/join?id=<%= event.id %>" class="bg-indigo-500 text-white p-2 rounded <% if (event.expired) { %> opacity-50 cursor-not-allowed <% } %>">Join</a>
            <a href="/joinAsTeam?id=<%= event.id%>" class="bg-yellow-500 text-white p-2 rounded ml-2 <% if (event.expired) { %> opacity-50 cursor-not-allowed <% } %>">Join as Team</a>
          </div>
        </div>
      <% }); %>
    <% } else { %>
      <p class="text-center text-gray-600">No events available</p>
    <% } %>
  </div>

  <!-- Footer -->
  <footer class="mt-8 text-center text-gray-500">
    <p>&copy; 2024 Your Website. All rights reserved.</p>
  </footer>
</body>
<script>
// Function to update time left for each event
function updateTimeLeft(eventId, eventDate, eventTime) {
  // Get the current date and time
  var now = new Date();

  // Set the event date and time
  var eventDateTime = new Date(eventDate + 'T' + eventTime);

  // Calculate the time difference between now and the event date and time
  var distance = eventDateTime - now;

  
  // Calculate days, hours, minutes, and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the time left
  document.getElementById("time-left-" + eventId).innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";

  // Update the time left every second
  if (distance > 0) {
    setTimeout(function() {
      updateTimeLeft(eventId, eventDate, eventTime);
    }, 1000);
  } else {
    // If the event has passed, display "Expired"
    document.getElementById("time-left-" + eventId).innerHTML = "Expired";
    document.getElementsByClassName(eventId).style.display = "none";

  }
}

// Call updateTimeLeft for each event
<% eventsData.forEach(event => { %>
  updateTimeLeft(<%= event.id %>, '<%= event.date %>', '<%= event.eventTime %>');
<% }); %>

</script>

</html>
